.primero{
    color: red;
    text-align: center;
    text-shadow: 2px 2px 2px darkblue;
    font-size: 1rem;
    font-family: sans-serif;
}
.titulo{
    color: darkblue;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    font-size: 2rem;

}